h1{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: chocolate;
    background-color: bisque;
}
.box{

height: 100px;width: 100px;background-color:black;border: 1px solid black ;display: inline-block;
margin: 0%;
}
.box1{border: 1px solid black ;display: inline-block;height: 100px;width: 100px;background-color: chocolate;margin: 0%;


}
.square{border: 1px solid black ;display: inline-block;height: 100px;width: 100px;background-color: chocolate;margin: 0%;


}
.square1{height: 100px;width: 100px;background-color:black;border: 1px solid black ;display: inline-block;
    margin: 0%;


}